
 <!--css files-->
  <link rel="stylesheet" type="text/css" href="/css/main.css" />

  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

  <!--Icons-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!--=================================Footer==================================-->
    <div id="footer">
      <div class="footerOut">
        <div class="footer-left">
          <h3>Contact us</h3>

          <p>
            +86 964 337 650 <br>
            shop@hiddenusonline.com
          </p>

          <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
          </div>
        </div>

        <div class="footer-center">
          <ul>
            <h3>Categories</h3>
            <li class="cal-item"><a href="#">Men T-shirt</a></li>
            <li class="cal-item"><a href="#">Women T-shirt</a></li>
            <li class="cal-item"><a href="#">Kids T-shirt</a></li>
          </ul>

        </div>

        <div class="footer-right">
          <h3>Sign up for newsletter</h3>

          <form action="#">

            <input type="text" name="email" placeholder="Sign up for newsletter" />
            <button>Send</button>

          </form>

        </div>

      </div>
      <div class="footer-bottom">
        <div class="footerInner">
          <p class="footer-company-name">HiddenUs &copy; 2019. All rights reserved.</p>
        </div>
      </div>
    </div>